.mainbar{
    flex:5;
    border-color: black;
    border-right:1px solid;
    display: flex;
    flex-direction: column;
}
.sidebar{
    display: flex;
    align-items: center;
    height: 10%;
    margin-top: 20px;
}
.sidebar *{
    margin:20px
}
.label{
    font-size: larger;
    font-weight: bold;
}
.input{
    width: 30%;
    border: none;
    border-radius: 10px;
    font-size: large;
    padding-left: 10px;
}
.input:focus{
    outline: none;
    background-color: bisque;
}
.btn{
    border: none;
    font-size: large;
    padding: 5px;
    border-radius: 6px;
    background-color: green;
    color: white;
}
.btn:hover{
    background-color: rgb(51, 136, 51);
    transform: scale(1.03);
}
.btn:active{
    opacity: 0.4;
}